@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
@import url("https://fonts.cdnfonts.com/css/miama");
* {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.span {
  font-family: "Miama", sans-serif;
  font-size: 4.875rem;
  font-weight: 400;
}
* {
  margin: 0;
}
body {
  background: black;
}
/* styles nav bar here */
.bg-light {
  background: linear-gradient(180deg, #171717, #292929, #171717);
}
.nav-bar {
  max-width: 85%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-title {
  color: rgb(230, 83, 60);
  font-size: 2.25rem;
  font-weight: 800;
  margin: 60px;
  margin-left: 0;
}
.nav-links {
  width: 465px;
  height: 46px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 39px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 24px;
  padding-left: 5px;
}
.ham-burger {
  color: rgb(255, 255, 255);
  display: none;
}
.nav-links > a {
  color: rgb(255, 255, 255);
  font-size: 1.125rem;
  text-decoration: none;
}
.btn-primary {
  width: 92px;
  height: 38px;
  border-radius: 46px;
  background: rgb(230, 83, 60);
  border: none;
  color: rgb(255, 255, 255);
  font-size: 1.125rem;
  font-weight: 600;
}
.btn-primarys {
  width: 92px;
  height: 38px;
  border-radius: 46px;
  background: rgb(230, 83, 60);
  border: none;
  color: rgb(255, 255, 255);
  font-size: 1.125rem;
  font-weight: 600;
  display: none;
}
/* styles banner section here */
.banner {
  max-width: 85%;
  margin: 0 auto;
  margin-bottom: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.banner-content {
  width: 520px;
  height: 440px;
}
.banner-image {
  width: 370px;
  height: 580px;
}
.banner-content h1 {
  color: rgb(255, 255, 255);
  font-size: 4.875rem;
  font-weight: 900;
  line-height: 105%;
  margin-bottom: 28px;
}
.banner-content p {
  color: rgba(255, 255, 255, 0.5);
  font-size: 1rem;
  line-height: 24px;
  margin-bottom: 42px;
}
.btn {
  width: 463px;
}
.btn > .btn-primary {
  width: 224px;
  height: 54px;
  border-radius: 42px;
  background: rgb(230, 83, 60);
  color: rgb(255, 255, 255);
  font-size: 1.125rem;
  font-weight: 600;
  margin-right: 10px;
}
.btn-secondary {
  width: 224px;
  height: 54px;
  background: none;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 42px;
  color: rgb(255, 255, 255);
  font-size: 1.125rem;
  font-weight: 600;
}
.banner-image > img {
  position: relative;
}
.card-one {
  width: 193px;
  height: 98px;
  position: absolute;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 12px;
  backdrop-filter: blur(20px);
  margin-top: -457px;
  margin-left: 240px;
  background: rgba(255, 255, 255, 0.1);
}
.card-one h3 {
  color: rgb(255, 255, 255);
  font-size: 2.5rem;
  font-weight: 900;
  margin-left: 24px;
  margin-top: 17px;
}
.card-one p {
  color: rgba(255, 255, 255, 0.65);
  font-size: 0.8125rem;
  margin-left: 24px;
}
.card-two {
  width: 193px;
  height: 98px;
  position: absolute;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 12px;
  backdrop-filter: blur(20px);
  margin-top: -170px;
  margin-left: -100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: rgba(255, 255, 255, 0.1);
}
.circle {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #e6533c;
}
.card-two h3 {
  color: rgb(255, 255, 255);
  font-size: 2.5rem;
  font-weight: 900;
}
.card-two p {
  color: rgba(255, 255, 255, 0.65);
  font-size: 0.8125rem;
}
/* styles habits section here */
.habits {
  max-width: 85%;
  margin: 0 auto;
  margin-bottom: 100px;
}
.habits-text {
  width: 672px;
  height: 120px;
  margin: 0 auto;
  margin-bottom: 60px;
}
.habits-text h2 {
  font-size: 3rem;
  font-weight: bolder;
  color: #ffffff;
  text-align: center;
  margin-bottom: 14px;
}
.habits-text p {
  font-size: 0.875rem;
  color: #ffffff;
  text-align: center;
  opacity: 50%;
}
.habits-content {
  width: 100%;
  height: 275px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.content-items {
  width: 232px;
  height: 275px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.content-items img {
  width: 180px;
  height: 180px;
  border-radius: 50%;
}
.content-items h4 {
  font-size: 1.125rem;
  font-weight: 600px;
  color: #ffffff;
  margin-top: 25px;
}
.content-items p {
  font-size: 0.875rem;
  color: #ffffff;
  text-align: center;
  opacity: 50%;
}
/* styles run section here */
.run {
  max-width: 85%;
  margin: 0 auto;
  margin-bottom: 100px;
  height: 372px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 18px;
  background-color: #222222;
}
.run-text {
  width: 445px;
  height: 290px;
  margin-left: 55px;
}
.run-text h2 {
  font-size: 3rem;
  font-weight: bolder;
  color: #ffffff;
  margin-bottom: 20px;
}
.run-text p {
  font-size: 0.875rem;
  color: #ffffff;
  opacity: 50%;
  margin-bottom: 48px;
}
.run-text button {
  width: 225px;
  height: 55px;
  border-radius: 42px;
  background-color: #e6533c;
  font-size: 1.125rem;
  font-weight: 600px;
  color: #ffffff;
}
.run-image {
  width: 368px;
  height: 312px;
  margin-right: 32px;
}
.run-image img {
  width: 100%;
  height: 100%;
  border-radius: 18px;
}
/* styles calculator section here */
.calculator {
  max-width: 100%;
  height: 700px;
  margin: 0 auto;
  margin-bottom: 90px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.calculator-text {
  width: 672px;
  height: 120px;
}
.calculator-text h2 {
  font-size: 3rem;
  font-weight: bolder;
  color: #ffffff;
  margin-bottom: 18px;
}
.calculator-text p {
  font-size: 0.875rem;
  color: #ffffff;
  opacity: 50%;
}
.calculator-content {
  width: 100%;
  height: 488px;
  background-color: #222222;
  display: flex;
  justify-content: space-around;
}
.table {
  width: 310px;
  height: 303px;
  margin-top: 50px;
}
.table h3 {
  color: rgb(255, 255, 255);
  font-size: 1.75rem;
  font-weight: 900;
  text-align: left;
  margin-bottom: 52px;
}
.table td {
  border: 1px solid rgba(255, 255, 255, 0.1);
  padding-left: 20px;
  padding-top: 13px;
  padding-bottom: 12px;
  font-size: 0.875rem;
  color: rgba(255, 255, 255, 0.5);
}
.table th {
  border: 1px solid rgba(255, 255, 255, 0.1);
  padding-left: 20px;
  padding-top: 15px;
  padding-bottom: 14px;
  font-size: 1rem;
  text-align: justify;
  font-weight: 500;
  color: rgb(255, 255, 255);
}
.table table {
  border-collapse: collapse;
  width: 100%;
  height: 215px;
  align-items: center;
}
.bmi {
  width: 577px;
  height: 386px;
  margin-top: 50px;
}
.bmi h3 {
  color: rgb(255, 255, 255);
  font-size: 1.75rem;
  font-weight: 900;
  text-align: left;
  margin-bottom: 52px;
  margin-bottom: 14px;
}
.bmi p {
  color: rgba(255, 255, 255, 0.5);
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.3px;
  text-align: left;
  margin-bottom: 34px;
}
.input-one {
  width: 100%;
  height: 48px;
  margin-bottom: 12px;
  display: flex;
  justify-content: space-between;
}
.input-one input {
  width: 270px;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.1);
  border: none;
  padding-left: 10px;
  color: rgba(255, 255, 255, 0.6);
  font-size: 1rem;
}
.input-two {
  width: 100%;
  height: 48px;
  margin-bottom: 12px;
  display: flex;
  justify-content: space-between;
}
.input-two input {
  width: 270px;
  height: 100%;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.1);
  border: none;
  padding-left: 10px;
  color: rgba(255, 255, 255, 0.6);
  font-size: 1rem;
}
.input-two select {
  width: 282px;
  height: 100%;
  padding-left: 10px;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.1);
  border: none;
  font-size: 1rem;
  color: rgba(255, 255, 255, 0.6);
}
.input-three {
  width: 100%;
  height: 48px;
  margin-bottom: 30px;
}
.input-three select {
  width: 100%;
  height: 100%;
  color: rgba(255, 255, 255, 0.6);
  font-size: 1rem;
  text-align: left;
  padding-left: 8px;
  border-radius: 8px;
  border: none;
  background: rgba(255, 255, 255, 0.1);
}
.calculate {
  width: 224px;
  height: 54px;
  border-radius: 42px;
  background: rgb(230, 83, 60);
  border: none;
  color: rgb(255, 255, 255);
  font-size: 1.125rem;
  font-weight: 600;
}
/* styles team section here */
.team {
  max-width: 85%;
  margin: 0 auto;
  margin-bottom: 100px;
}
.team-text {
  width: 672px;
  height: 120px;
  margin: 0 auto;
  margin-bottom: 60px;
}
.team-text h2 {
  font-size: 3rem;
  font-weight: bolder;
  color: #ffffff;
  text-align: center;
  margin-bottom: 18px;
}
.team-text p {
  font-size: 0.875rem;
  color: #ffffff;
  opacity: 50%;
  text-align: center;
}
.team-content {
  width: 100%;
  height: 605px;
  margin: 0 auto;
  background-color: #222222;
  border-radius: 18px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.team-image {
  width: 326px;
  height: 272px;
  margin: 15px 15px 15px 15px;
}
.team-image img {
  width: 100%;
  height: 100%;
  position: relative;
  border-radius: 18px;
}
.team-image h4 {
  font-size: 1.25rem;
  font-weight: bolder;
  color: #ffffff;
  position: absolute;
  margin-top: -70px;
  margin-left: 20px;
}
.team-image p {
  font-size: 0.875rem;
  color: #ffffff;
  opacity: 50%;
  position: absolute;
  margin-top: -40px;
  margin-left: 20px;
}
/* styles pack section here */
.pack {
  width: 100%;
  background: rgb(34, 34, 34);
  margin: 0 auto;
  margin-bottom: 100px;
}
.pack h2 {
  font-size: 3rem;
  font-weight: bolder;
  color: #ffffff;
  text-align: center;
  margin-bottom: 60px;
}
.pack-content {
  max-width: 85%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.pack-one {
  width: 320px;
  border-radius: 15px;
  background: rgba(255, 255, 255, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.pack-one h3 {
  color: rgb(255, 255, 255);
  font-size: 1.75rem;
  font-weight: 900;
  text-align: center;
  margin-bottom: 30px;
  margin-top: 10px;
}
.pack-one h4 {
  font-size: 1.25rem;
  font-weight: bolder;
  color: #ffffff;
  width: 170px;
  height: 40px;
  border-radius: 8px;
  background: rgb(230, 83, 60);
  border: none;
  text-align: center;
  padding-top: 15px;
  margin-bottom: 30px;
}
.pack-one p {
  font-size: 1rem;
  color: rgba(255, 255, 255, 0.6);
  text-align: center;
  margin-bottom: 50px;
}
.offers {
  margin-bottom: 40px;
}
.offers p {
  font-size: 1.25rem;
  font-weight: 500px;
  color: rgb(255, 255, 255);
  margin-bottom: 20px;
  opacity: 80%;
}
.offers hr {
  width: 270px;
  margin: 0 auto;
  border: 1px solid rgba(255, 255, 255, 0.1);
  margin-bottom: 20px;
}
.register {
  width: 224px;
  height: 54px;
  border-radius: 42px;
  background: rgb(230, 83, 60);
  border: none;
  color: rgb(255, 255, 255);
  font-size: 1.125rem;
  font-weight: 600;
  margin-bottom: 30px;
}
.pack-two {
  width: 320px;
  background: rgb(230, 83, 60);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.pack-two h3 {
  color: rgb(255, 255, 255);
  font-size: 1.75rem;
  font-weight: 900;
  text-align: center;
  margin-bottom: 30px;
  margin-top: 10px;
}
.pack-two h4 {
  font-size: 1.25rem;
  font-weight: bolder;
  color: rgb(230, 83, 60);
  width: 170px;
  height: 40px;
  border-radius: 8px;
  background: rgb(255, 255, 255);
  border: none;
  text-align: center;
  padding-top: 15px;
  margin-bottom: 30px;
}
.pack-two p {
  font-size: 1rem;
  color: rgb(255, 255, 255);
  text-align: center;
  margin-bottom: 50px;
}
.offers-two {
  margin-bottom: 40px;
}
.offers-two p {
  font-size: 1.25rem;
  font-weight: 500px;
  color: rgb(255, 255, 255);
  margin-bottom: 20px;
}
.offers-two hr {
  width: 270px;
  margin: 0 auto;
  border: 1px solid rgb(255, 255, 255);
  opacity: 40%;
  margin-bottom: 20px;
}
.registers {
  width: 224px;
  height: 54px;
  border-radius: 42px;
  background: rgb(255, 255, 255);
  border: none;
  color: rgb(230, 83, 60);
  font-size: 1.125rem;
  font-weight: 600;
  margin-bottom: 30px;
}
.pack-three {
  width: 320px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.pack-three h3 {
  color: rgb(255, 255, 255);
  font-size: 1.75rem;
  font-weight: 900;
  text-align: center;
  margin-bottom: 30px;
  margin-top: 10px;
}
.pack-three h4 {
  font-size: 1.25rem;
  font-weight: bolder;
  color: #ffffff;
  width: 170px;
  height: 40px;
  border-radius: 8px;
  background: rgb(230, 83, 60);
  border: none;
  text-align: center;
  padding-top: 15px;
  margin-bottom: 30px;
}
.pack-three p {
  font-size: 1rem;
  color: rgba(255, 255, 255, 0.6);
  text-align: center;
  margin-bottom: 50px;
}
.offers {
  margin-bottom: 40px;
}
.offers p {
  font-size: 1.25rem;
  font-weight: 500px;
  color: rgb(255, 255, 255);
  margin-bottom: 20px;
  opacity: 80%;
}
.offers hr {
  width: 270px;
  margin: 0 auto;
  border: 1px solid rgba(255, 255, 255, 0.1);
  margin-bottom: 20px;
}
.register {
  width: 224px;
  height: 54px;
  border-radius: 42px;
  background: rgb(230, 83, 60);
  border: none;
  color: rgb(255, 255, 255);
  font-size: 1.125rem;
  font-weight: 600;
  margin-bottom: 30px;
}
/* styles footer section here */
footer {
  width: 100%;
  height: 490px;
  background: rgb(34, 34, 34);
  padding: 0 auto;
  padding-top: 65px;
}
.fitness {
  max-width: 85%;
  height: 250px;
  margin: 0 auto;
  margin-bottom: 90px;
  display: flex;
  justify-content: space-between;
}
.part-one {
  width: 443px;
  height: 176px;
}
.part-one h1 {
  color: rgb(230, 83, 60);
  font-size: 4.375rem;
  font-weight: 800;
  text-align: left;
  margin-bottom: 20px;
}
.part-one p {
  color: rgba(255, 255, 255, 0.5);
  font-family: Inter;
  font-size: 0.875rem;
  line-height: 24px;
  text-align: left;
}
.part-two {
  width: 181px;
  height: 100%;
  margin-right: 80px;
}
.part-two h3 {
  color: rgb(255, 255, 255);
  font-size: 2rem;
  font-weight: 700;
  text-align: left;
  margin-bottom: 39px;
}
.fitness-links {
  width: 100%;
  height: 172px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.fitness-links > a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.5);
  font-size: 1.375rem;
  text-align: left;
}
.part-three {
  width: 181px;
  height: 100%;
}
.part-three h3 {
  color: rgb(255, 255, 255);
  font-size: 2rem;
  font-weight: 700;
  text-align: left;
  margin-bottom: 39px;
}
footer > hr {
  max-width: 85%;
  margin: 0 auto;
  border: 2px solid rgba(255, 255, 255, 0.1);
  margin-bottom: 60px;
}
footer > p {
  color: rgba(255, 255, 255, 0.5);
  font-size: 1.25rem;
  text-align: center;
}
/* Responsive Website in mobile */
@media screen and (max-width: 576px) {
  .nav-links {
    display: none;
  }
  .ham-burger {
    display: block;
  }
  .banner {
    display: flex;
    flex-direction: column;
    width: 352px;
    margin-bottom: 10px;
  }
  .banner-content {
    width: 100%;
  }
  .banner-content h1 {
    font-size: 2.25rem;
    margin-bottom: 28px;
  }
  .btn {
    width: 352px;
    display: flex;
    justify-content: space-between;
  }
  .btn-primary {
    display: none;
  }
  .btn-primarys {
    width: 169px;
    height: 54px;
    display: block;
  }
  .btn-secondary {
    width: 169px;
    height: 54px;
  }
  .banner-image {
    width: 100%;
  }
  .card-one {
    width: 145px;
    height: 74px;
    margin-left: 194px;
  }
  .card-one h3 {
    font-size: 1.875rem;
  }
  .card-one p {
    font-size: 0.625rem;
  }
  .card-two {
    width: 155px;
    height: 72px;
    margin-left: 12px;
  }
  .card-two h3 {
    font-size: 1.125rem;
  }
  .card-two p {
    font-size: 0.75rem;
  }
  .circle {
    width: 30px;
    height: 30px;
    display: flex;
  }
}
